<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us page</title>
</head>

<body>
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima porro deserunt amet aut est dolor quam illo voluptatibus fugiat, distinctio odio ab, adipisci voluptates quo laudantium. Alias nemo facilis quo.
    </h1>
</body>

</html>