{% extends 'base/base.html' %} {% block content %}

<body>
    <h1>{{trial}}</h1>
    <h1>{{list}}</h1>
    <!--using forloop-->
    {% for n in list %}
    <h1>{{n}}</h1>
    {% endfor %}
    <!--using forloop.counter in loop-->
    {% for n in list %}
    <h1>{{forloop.counter}} {{n}}</h1>
    {% endfor %}
    <!--using forloop.revcounter in loop-->
    {% for n in list %}
    <h1>{{forloop.revcounter}} {{n}}</h1>
    {% endfor %}
    <!--using forloop.revcounter0 in loop-->
    {% for n in list %}
    <h1>{{forloop.revcounter0}} {{n}}</h1>
    {% endfor %}
    <!--using forloop.last in loop-->
    {% for n in list %}
    <h1>{{forloop.last}} {{n}}</h1>
    {% endfor %}

    <br>

    <table border="1" cellpadding="10">
        <tr>
            <th>name</th>
            <th>class</th>
        </tr>
        {% for d in contact %}
        <tr>
            <th>{{d.name}}</th>
            <th>{{d.class}}</th>
        </tr>
        {% endfor %}
    </table>

    {% if numbers|length > 0 %} {% for n in numbers %} {% if n > 40 %}
    <div>{{n}}</div>
    {% endif %} {% endfor %} {% else %} no data found {% endif %}
    <img src="static/images/Osmosis.jpg" alt="">


</body>
{% endblock %}